# Node
node_modules/
.next/
dist/
build/

# Python
venv/
.venv/
__pycache__/
*.pyc

# Logs
logs/
*.log

# Models
*.pt
*.pth
*.onnx
*.ckpt

# Env
.env
.env.*

# IDE / Editors
.vscode/
.idea/
.vs/

# OS junk
.DS_Store
Thumbs.db

# Docker
docker-data/
